%% auther: xyao   
%% email: jiexiaowen@gmail.com   
%% date: 2011.06.12
  
[
	{
        kernel,
        [
            {global_groups, [{gs,['yxyz1@127.0.0.1']}]},
            {inet_dist_listen_min,40001},
            {inet_dist_listen_max,40200},
            {error_logger,tty}
        ]
    },

    {
        sasl,
        [
            {sasl_error_logger, false},
            {errlog_type, error},
            {error_logger_mf_dir, "../logs"},    %% dirs
            {error_logger_mf_maxbytes, 1048760}, %% 10M per log file.
            {error_logger_mf_maxfiles, 10}       %%maxinum number of 10
        ]
    },

    {
        gs,
        [
            {ticket, "SDFSDESF123DFSDF"},
            {db_host, "127.0.0.1"},
            {db_port, 3306},
            {db_user, "root"},
            {db_pass, "l199011"},
            {db_name, "yzsy"},
            {db_encode, utf8},
            {log_level, 5}, %% log_level
            {log_path, "../logs"}, %% log_path
            {cls_type, 1},
            {cls_cookie, gs},
            {cls_node, 'yxyz1@127.0.0.1'},


            {platform, "4399"},
            {server_num, 2},


            {phone_gift, 0},

            {card_key, "15f07b44a3014048b5fbfb0ba7052c8f"},
            {card_server, ["T1"]}
        ]
    }
].   
 
%% File end.  
