%% auther: 严利宏
%% email: 542430172@qq.com
%% date: 2014.08.27

[
	{
        kernel,
        [
            {global_groups, [{yx,['yx@127.0.0.1']}]},
            {inet_dist_listen_min,40001},
            {inet_dist_listen_max,40200},
            {error_logger,tty}
        ]
    },

    {
        sasl,
        [
            {sasl_error_logger, false},
            {errlog_type, error},
            {error_logger_mf_dir, "../logs"},    %% dirs
            {error_logger_mf_maxbytes, 1048760}, %% 10M per log file.
            {error_logger_mf_maxfiles, 10}       %%maxinum number of 10
        ]
    },

    {
        yx,
        [
            {ticket, "SDFSDESF123DFSDF"},
            {db_host, "127.0.0.1"},
            {db_port, 3306},
            {db_user, "root"},
            {db_pass, "l199011"},
            {db_name, "yxdb"},
            {db_encode, utf8},
            {log_level, 5}, %% log_level
            {log_path, "../logs"}, %% log_path

            {cls_type, 0},
            {cls_cookie, yx_cls_center},
            {cls_node, 'yx_cls_center@127.0.0.1'},

            {platform, "jieyou"},
            {server_num, 1},
			
            {phone_gift, 0},
            {card_key, "15f07b44a3014048b5fbfb0ba7052c8f"},
            {card_server, ["T1"]}
        ]
    }
].

%% File end.
